<h1> All The Reviews </h1>
<% @reviews.each do |review| %>
    <p>REVIEW: <%= review.content %></p>
    <p>USERNAME: <%=review.username%></p>
    <p>USERNAME: <%=review.username%></p>
    <p>------</p>
<% end %>